@import url('font.css')
*
  margin: 0
  padding: 0
  box-sizing: border-box
  text-decoration: none
  list-style: none
  font-weight: 400
.container
  max-width: 1110px
  width: 100%
  padding: 0px 15px
  margin: 0px auto
  min-height: 40px
  border: 1px solid red
